body{
  animation: transitionIn 1.5s;
}
@keyframes transitionIn {
  from{
    opacity: 0;
    transform: translateX(60px);
  }

  to{
    opacity: 2;
    transform: translateX(0);
  }
}

a {
  animation: transitionIn 1.5s;
}
.color-bg{
  color: rgb(255, 255, 255);
}